<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artistify</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around ">
    <header class="flex  justify-around align-center p-2 ">
      <h1 class ="stage">
        <a href="/" class="plane 1">Artistify</a>
        <a href="/" class="plane 2">Artistify</a>
        <a href="/" class="plane 3">Artistify</a>
        <a href="/" class="plane 4">Artistify</a>
      </h1>
      <nav class="flex sm:justify-center space-x-4 flex-auto w-64">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login" class= "flex auto w-32">login</a>
        {{/if}}
        
      </nav >
    </header>
    <main class=" mx-20 py-10 border-black outline-black border-none rounded-lg box-shadow ">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
