<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Artistify!</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class = "bg-red-100">
  <div class="flex-column justify-space-around font-medium px-3 py-2 rounded-lg hover:text-gray-900">
    <header class="flex  justify-around align-center p-2 wrapper">
      <h1 class ="stage">
        <div class = "cube">
        <a href="/" class="face face_1">Artistify</a>
        <a href="/" class="face face_2">Artistify</a>
        <a href="/" class="face face_3">Artistify</a>
        <a href="/" class="face face_4">Artistify</a>
        </div>
      </h1>
      <nav class="bg-white shadow-lg text-center">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile" class="font-medium px-3 py-2 text-gray-700 rounded-lg hover:bg-gray-100 hover:text-gray-900">profile</a> |
        <button class="no-button font-medium px-3 py-2 text-gray-700 rounded-lg hover:bg-gray-100 hover:text-gray-900" id="logout">logout</button>
        {{else}}
        <a href="/login" class= "flex end text-center">login</a>
        {{/if}}
        
      </nav >
    </header>
    <main class="  p-10">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
