body {
  background-color: white;
}
header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

img {
  height: 200px;
  width: 200px;
}

.post {
  border-style: dashed;
}

.stage {
  perspective: 1400px; 
    display:flex;
    justify-content: center;
}

.cube {
  width: 100%;
  height: 100px;
  transition: all 10s linear;
  transform-style: preserve-3d;
 position: relative;
 right:250px;
 bottom: 2.5px;
  box-sizing: border-box;
  text-align: center;
  font-family: Times, serif;
  font-size: 18pt;
  animation: spin 3s iteration-count direction fill-mode;
}
.cube:hover{
  transform-style: preserve-3d;
  animation: spin 10s infinite;
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
}

.face_1 {
  background: brown;
  transform: rotateY(90deg) translateZ(50px);
}
.face_2 {
  background: red;
  transform: rotateY(180deg) translateZ(50px);
}
.face_3 {
  background: gray;
  transform: rotateY(270deg) translateZ(50px);
}
.face_4 {
  background-color:#e11d48  ;
  transform: rotateY(360deg) translateZ(50px);
}

.cube { transform: translateZ(180px); 
  transform: translateX(90);
  transition: 5s; }


.tooltip {
  text-decoration:none;
  position:relative;
}
 
.tooltip span {
  display:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white; 
}
 
.tooltip span img {
  float:left;
  margin:0px 8px 8px 0;
}
 
.tooltip:hover span {
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:1000;
  width:auto;
  max-width:320px;
  min-height:128px;
  border:1px solid black;
  margin-top:12px;
  margin-left:32px;
  overflow:hidden;
  padding:8px;
}
.artist_img{
  position: relative;
  left: 44.75%;

}

.background_img{
  position: relative;
  top: 25%;
}

.bands.bands:nth-child(2n){
  background-color: #70C3FF;
}

.bands.bands:nth-child(2n-1){
background-color: white;
}

.bands{

}