body{
  background-color: white;

}
header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}


img {
  height: auto;
  width: 600px;
}

.post{
  border-style: dashed;
}

.plane {
  height: auto;
  width:  auto;
  border: 1px solid black;
  border-radius: 11px;
  box-sizing: border-box;
  text-align: center;
  font-family: Times, serif;
  font-size: 18pt;
  color: blue;
  background-color: red;
  transform: 2s;
  backface-visibility: hidden;
}

.tooltip {
  text-decoration:none;
  position:relative;
}
 
.tooltip span {
  display:none;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  color:black;
  background:white; 
}
 
.tooltip span img {
  float:left;
  margin:0px 8px 8px 0;
}
 
.tooltip:hover span {
  display:block;
  position:absolute;
  top:0;
  left:0;
  z-index:1000;
  width:auto;
  max-width:320px;
  min-height:128px;
  border:1px solid black;
  margin-top:12px;
  margin-left:32px;
  overflow:hidden;
  padding:8px;
}