body{
  background-color: white;
}
header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}


img {
  height: auto;
  width: 600px;
}

.post{
  border-style: dashed;
}

.plane {
  height: auto;
  width:  auto;
  border: 1px solid black;
  border-radius: 11px;
  box-sizing: border-box;
  text-align: center;
  font-family: Times, serif;
  font-size: 18pt;
  color: blue;
  background-color: red;
  transform: 2s;
  backface-visibility: hidden;
}
